
<div class="card-header d-flex justify-content-center">
    <span>
    <h6>Suspect Information</h6>
    <h2><b><i>INDEX</i></b></h2>
  </span>

  </div>

<ul class='list-group'>
  <% @todo_lists.each do |todo_list| %>
    <%= link_to todo_list, class: 'text-docoration-none' do %>
    <li class="list-group-item d-flex justify-content-between">
  
    <div>
    <h6 class='m-0 text-dark'>
    <b><%= todo_list.title %></b>
    <span class="badge badge-<%= todo_list.badge_color%>" style="position: absolute; right: 30px;"><%= todo_list.status %></span>
    

    </h6>
    <p class='text-secondary m-0'><small><%=todo_list.percent_complete%>% Complete 
    (<%=todo_list.completed_items%>/<%=todo_list.total_items%> Todo Items)</small></p>
    </div>
  </li>
  
    <% end %>
    <% end %>
</ul>

<br>
<%= link_to 'New Todo List', new_todo_list_path, class: 'btn btn-primary btn-sm' %>
<br>
<%= link_to 'Chat', rooms_path, class: 'btn btn-primary btn-sm' %>

