<!DOCTYPE html>
<html lang="en">

<header class="header-nav">
<div class="row justify-content-center">
    <nav><a href="#page-top">Top｜</a></nav>
    <nav><a href="#about">About｜</a></nav>
    <nav><a href="#poirot">Poirot｜</a></nav>
    <nav><a href="#marple">Miss Marple</a></nav>
</div>
</header> 

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Stylish Portfolio - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Simple line icons-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    
    <body id="page-top">
        <!-- Navigation-->
        <!-- Header-->
        <header class="masthead d-flex align-items-center">
            <div class="text px-4 px-lg-5 text-center">
            </div>
        </header>
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <br>
                        <h2>How to use:</h2>
                        <p class="lead mb-5">
                            Agatha Christie's books are all fun to read. However, they can be hard to follow with all the information. Especially for the people
                            who want to follow along and solve the mystery themselves, it is a necessary to have some sort of memos.
                            So, this site was created to make it easy to keep your meomes so you can focus on reading, rather than keeping trace of all of your memos.
                            There are even functions to help you see which memos are more important and functions that make it easier to see who is suspected more!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Callout-->
    
        <!-- Portfolio-->
        <section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <br>
                    <h3 class="text-secondary mb-0">Select the type of book you are read currently</h3>
                    <h2 class="mb-5">Miss Marple or Poirot?</h2>
                </div>

                <div class="row gx-0">
                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="#marple"><img class="img-fluid" src="assets/img/marple.jpg" alt="..." /></a>
                    </div>



                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="#poirot"><img class="img-fluid" src="assets/img/poirot.jpg" alt="..." /></a>
                        
                    </div>
                </div>
            </div>
        </section>
    <!-- Poirot Books -->
        <section class="content-section bg-light" id="poirot">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                <br>
                <h2 class="mb-5">Poirot Books</h2>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                            <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/affair.jpg" alt="..." /></a>
                    </div>



                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/roger.jpg" alt="..." /></a>
                    </div>

                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/curtain.jpg" alt="..." /></a>
                    </div>

                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/links.jpg" alt="..." /></a>
                    </div>

                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/nile.jpg" alt="..." /></a>
                    </div>

                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/orient.jpg" alt="..." /></a>
                    </div>

                </div>
                    <br>
                </div>
            </div>
        </section>

        <!-- Marple Books -->
        <section class="content-section" id="marple">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                <br>
                <h2 class="mb-5">Miss Marple Books</h2>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                            <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/announced.jpg" alt="..." /></a>
                    </div>



                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/final.jpg" alt="..." /></a>
                    </div>

                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/finger.jpg" alt="..." /></a>
                    </div>

                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/library.jpg" alt="..." /></a>
                    </div>


                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/mirror.jpg" alt="..." /></a>
                    </div>


                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/paddington.jpg" alt="..." /></a>
                    </div>


                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/rye.jpg" alt="..." /></a>
                    </div>


                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/side.jpg" alt="..." /></a>
                    </div>

                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/sleeping.jpg" alt="..." /></a>
                    </div>

                    <div class="col-lg-6">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <a href="<%= todo_lists_path%>"><img class="img-fluid" src="assets/pictures/vicarage.jpg" alt="..." /></a>
                    </div>

                </div>
                <br>
            </div>
        </section>



        <!-- Scroll to Top Button-->
        <br>
        <a class="scroll-to-top rounded, btn btn-dark btn-sm " href="#page-top"><i class="fas fa-angle-up"></i></a>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container px-4 px-lg-5">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
                    </li>
                </ul>
                <p class="text-muted small mb-0">Copyright &copy; Anastacia Sudsgaard 2022</p>
            </div>
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>

